{% load i18n %}
<h3>{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</h3>

<form id="shows">
    {% for choice in choices %}
            <input type="text" size="5" name="{{ choice.display }}" value="{{ choice.value }}"
                    placeholder="{{ choice.display }}" data-query="{{ choice.query }}">
    {% endfor %}
</form>

<script>
    var submit = function() {
        var $ = django.jQuery;
        var query = $('#shows input').data('query');
        var shows_from = $('input[name=from]').val();
        var shows_to = $('input[name=to]').val();
        location.href = query + '&shows=' + shows_from + ',' + shows_to;
    };
    django.jQuery('#shows').change(submit);
</script>
